

.wishlist-container {
    text-align: center; 
}

.wishname {
  margin-top: 20px;
    color: rgb(253, 117, 140);
}

.card-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    margin-top: 100px;
}

.card {
    margin: 10px; 
}
.card.tri img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.remove-btn {
    position: absolute;
    bottom: 2px; 
    right: 2px; 
    padding: 2px 5px; 
    font-size: 12px; 
    background-color: rgb(151, 0, 88); 
    color: white;
   
    border-radius: 5px;
    cursor: pointer;
  } 




.text-left{
    margin-left: 10px;
}
.offer{
    color: green;
}