li {
    list-style-type: none;
}
.navbar-brand  img{
    height: 50px;
}

.navbar-wishi-icon {
    width: 25px; 
    height: auto; 
    margin-right: 5px; 
  }
  .navbar-cart-iconi{
    height: 25px;
    width: 25px;
  }
  /* .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
} */