.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center align cards */
   margin-top: 130px !important;
   
}

.card {
    width: 250px; /* Adjust as needed */
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex; /* Added */
    flex-direction: column; /* Added */
    height: 400px;
}

.image-container {
    flex: 1; /* Added */
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%; /* Fill the container */
    object-fit: cover; /* Preserve aspect ratio */
}

.content-container {
    padding: 15px;
}

h4 {
    margin: 0;
    font-size: 20px;
}

p {
    margin: 5px 0;
    font-size: 16px;
    color: #555;
}
.headr{
    text-align: center;
    margin-top: 40px;
}
.wish {
    position: absolute;
    bottom: 5px; /* Adjust as needed */
    right: 5px; /* Adjust as needed */
}

.wish img {
    width: 20px; /* Adjust the size of the wish icon */
    height: auto; /* Maintain aspect ratio */
}


.wish-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.wish-btn:focus {
    outline: none;
}

.wish-icon {
    width: 32px; /* Adjust icon size as needed */
    height: 32px; /* Adjust icon size as needed */
    /* Add any additional styles for the icon here */
}



.icons-container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 5px;
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.icon {
    width: 20px; /* Adjust icon size as needed */
    height: auto;
}
.popup-message {
    position: fixed;
    top: 20px; /* Adjust distance from top */
    left: 50%;
    transform: translateX(-50%);
    background-color: #f8d7da; /* Adjust background color */
    color: #721c24; /* Adjust text color */
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #f5c6cb; /* Adjust border color */
}
.popup-message.cart {
    background-color: #cce5ff; /* Change background color for cart message */
    color: #004085; /* Change text color for cart message */
    border-color: #b8daff; /* Change border color for cart message */
}


.newz {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px; /* Adjust as needed */
  }


  
  
   .newz h1 {
    text-align: center;
    margin-bottom: -100px;
    font: 50px Lora;
  } 