
 
  .row-cart {
    display: flex;
    gap: 15px;
    margin-top: 60px;
    margin-left: 10px;
    position: relative;

  } 
  .row-cart::before {
    top: -15px !important; /* Reduced height */
  }
  
  .row-cart::after {
    bottom: -15px !important; /* Reduced height */
  }
  
 
  .row-cart::before,
  .row-cart::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    border-top: 1px solid #2a333b; 
  }
   
   .row-cart::before {
    top: -30px; 
  }
  
  .row-cart::after {
    bottom: -30px; 
  } 
  
  .column {
    flex: 1;
    text-align: center; 
  }
  
  .column img {
    height: 38px;
    width: 38px;
    margin: 0 auto 10px; 
  }
  